.normalMenu {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 48em) {
        border-bottom: solid;
        border-width: 2px;
        margin: auto 5rem;
        border-color: #dbd9d9;
    }
}

#desktop-nav {
    display: none;

    @media (min-width: 48em) {
        display: block;
    }
}

#mobile-nav {
    display: block;

    @media (min-width: 48em) {
        display: none;
    }

}

.menu-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-around;
    padding: 0;
}

.bar {
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 1rem;

    &:nth-child(1) {
        top: 0px;
    }

    &:nth-child(2) {
        top: 5px;
    }

    &:nth-child(3) {
        top: 10px;
    }
}

.normalMenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    list-style: none;
    text-decoration: none;

    div:first-child {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
    }
}

@media (min-width: 48em) {
    .normalMenu li {
        flex-direction: row;
    }

    .normalMenu li:last-child {
        flex-direction: row;
        gap: 2rem;
    }
}

.newsTopicsSM {
    padding: 0;
    font-size: 18px;
    margin-top: 2rem;

    li {
        display: block;
        margin: 3rem;
    }
}

.openMenu {
    position: absolute;
    top: -48px;
    width: 100%;
    background-color: white;

    section {
        font-size: 16px;
        @extend %standard-border;
        margin: 0rem 1rem;

        & li {
            text-decoration: none;
            list-style: none;
            padding: 1rem 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-left: 1rem;
    }

    section:nth-child(2) ul {
        display: block;
    }

    section:nth-child(2) li {
        padding: 0;
    }

    section ul {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px;
        padding: 0;
    }
}

%standard-border {
    border-bottom: 1px solid #dbd9d9;
}

.openMenuHeader {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1rem;
    @extend %standard-border;
}

@media (min-width: 48em) {
    .openMenu {
        top: 46px;
    }

    .newsTopicsSM {
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .openMenu section li {
        text-decoration: none;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 2rem;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .openMenu section:nth-child(2) ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px
    }

    .openMenu section:nth-child(2) ul li {
        padding: 2rem;
    }

    #newsCategoriesDesktop {
        display: flex;
        font-weight: bold;
        font-size: 16px;
        gap: 2rem;
        max-width: 80%;
        height: 100%;
        width: 100%;
        column-count: 10;
        column-fill: auto;
        overflow: auto;

        li {
            padding: 1rem;
        }
    }

    #bottomOpenMenuDesktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

#footerOfOpenMenu {
    display: flex;
    justify-content: space-evenly;
    background-color: #231f20;
    margin: 0;
    padding: 1rem;
    border: none;
}

.footer {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #231f20;
    margin-top: 20px;

    address {
        margin-bottom: -20px;
    }
}

.globalHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 48px;
    font-size: 12px;
    align-items: center;
    background-color: #231f20;
    color: white;

    @media (min-width: 48em) {
        display: none;
    }
}

.globalHeaderDesktop {
    display: none;

    @media (min-width: 48em) {
        display: flex;
        justify-content: space-around;
        height: 48px;
        font-size: 12px;
        align-items: center;
        background-color: #231f20;
        color: white;
    }
}

.searchBar {
    background-color: white;
    // Additional styles for the searchBar can be added here
}